<app-navegacion></app-navegacion>

<body class="scrolPagina">
  <section class="customsection">
    <div class="form-box">
      <div class="form-value">
        <form
          id="FormularioSesion"
          action="https://formsubmit.co/manu2002.03@gmail.com"
          method="POST"
          autocomplete="off"
        >
          <h2 class="Customh2">Contacto</h2>

          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="text" required name="Nombre" />
            <label for="">Nombre</label>
          </div>

          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" required name="Email" />
            <label for="">Email</label>
          </div>

          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="tel" required name="Telefono" />
            <label for="">Telefono</label>
          </div>

          <ion-icon name="mail-outline"></ion-icon>
          <textarea
            class="mensaje"
            cols="30"
            name="mensaje"
            rows="5"
            placeholder="Escriba un mensaje"
          ></textarea>

          <input
            class="Custombutton mb-4 text-center"
            type="submit"
            value="Enviar"
          />

          <div class="register">
            <p>Enviame un correo y !Hablemos!</p>
          </div>
        </form>
      </div>
    </div>
  </section>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
</body>
