<app-navegacion></app-navegacion>

<body class="fondo">
  <title>Presentación</title>

  <h1 class="text-center text-white title-card">Carta de presentación</h1>

  <div class="card">
    <div class="profile-slidebar">
      <img
        src="../../../assets/images/foto perfil.jpeg"
        alt="profile"
        class="profile-image"
      />
    </div>

    <div class="profile-main">
      <h2 class="profile-name">Manuel Ibáñez</h2>
      <p class="profile-position">Programador Junior BackEnd/FrontEnd</p>
      <div class="profile-body">
        <p>
          Me dirijo a usted para presentar mi candidatura para cualquier puesto
          de trabajo que requiera habilidades en el campo de la informática. Soy
          un técnico en sistemas microinformáticos y redes en la que puedo hacer
          instalación y reparación de equipos informáticos y como técnico de
          soporte informático. También puedo hacer instalación y configuración
          de software básico y de aplicación, redes locales cableadas,
          inalámbricas o mixtas y conectadas a redes públicas. <br />
        </p>
        <p>
          <br />También soy un desarrollador de aplicaciones web con acceso a
          bases de datos utilizando lenguajes, objetos de acceso y herramientas
          de mapeo adecuados a las especificaciones. Puedo integrar contenidos
          en la lógica de una aplicación web, desarrollando componentes de
          acceso a datos adecuados a las especificaciones y desarrollando
          interfaces en aplicaciones web de acuerdo con un manual de estilo y
          estándares establecidos en la que tuve la oportunidad de utilizar mis
          conocimientos en las practicas de empresa. Soy una persona organizada,
          puntual y trabajadora que gestiona bien el tiempo de trabajo. Tengo
          capacidad para aprender rápidamente y soy responsable en el trabajo.
          Además estoy familiarizado en los siguientes Java, PHP, JavaServer
          Pages (JSP), DOM, JavaScript. También tengo conocimientos en HTML,
          CSS, XML, JSON, SQL, MySQL, Oracle, boostrap, entre otras tecnologías.
          Actualmente estoy buscando oportunidades laborales para aplicar mis
          habilidades y conocimientos. Me encantaría tener la oportunidad de
          discutir cómo puedo contribuir a su empresa y poder acumular
          experiencia en este sector que tanto me gusta. <br />
          <br />Atentamente, Manuel Ibáñez Sánchez
        </p>
      </div>
    </div>
  </div>
</body>
