<app-navegacion></app-navegacion>
<ng-container>
  <section class="content" id="about">
    <div class="block-content">
      <h3 class="block-title">Perfil</h3>
      <h3 class="subheading">
        ¡Hola! soy Manuel Ibáñez
        <strong>Programador de software</strong>
      </h3>
      <p>
        Me defino como un profesional orientado a objetivos y retos medibles. Mi
        principal objetivo es formar parte de un equipo profesional, en el que
        los logros y éxitos de cada uno sean reconocidos en un ambiente de
        trabajo óptimo y agradable.
      </p>
      <p>
        Mi objetivo laboral radica en la posibilidad de encontrar una empresa
        estable en la que crecer profesionalmente, con el compromiso de un
        trabajador fiel y vinculado al equipo. Soy una persona perfeccionista,
        responsable, puntual, trabajador, de rápido aprendizaje , Buen trabajo
        de equipo y gestiono el tiempo de trabajo. Lo que más me ayuda a seguir
        mejorando es centrarme en lo positivo, haciendo que me concentre en mis
        objetivos y no pare hasta lograrlos.
      </p>
      <p>
        Soy una persona perfeccionista, responsable, puntual, trabajador, de
        rápido aprendizaje , Buen trabajo de equipo y gestiono el tiempo de
        trabajo. Lo que más me ayuda a seguir mejorando es centrarme en lo
        positivo, haciendo que me concentre en mis objetivos y no pare hasta
        lograrlos.
      </p>

      <div class="info-list row">
        <div class="col-sm-6"><span>Nombre : </span> Manuel Ibáñez Sánchez</div>
        <div class="col-sm-6">
          <span>Fecha de Nacimiento : </span> Julio 02, 2002
        </div>
        <div class="col-sm-6"><span>Dirección : </span> España, Sevilla.</div>
        <div class="col-sm-6"><span>Email : </span> manu2002.03@gmail.com</div>
        <div class="col-sm-6"><span>Telefono : </span> +34 693 02 76 52</div>
        <div class="col-sm-6">
          <span>Interes : </span> Desarrollador web · Desarrollador de front-end
          · Desarrollador de back-end
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Hard Skills</h3>

      <div class="timeline skill">
        <div class="row">
          <div class="col-md-12">
            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup row">
                  <h3>Lenguajes de Programacion</h3>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-javascript.svg"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">JavaScript</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/Icons8-java.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">Java</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-php-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">PHP</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-typescript-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">TypeScript</figcaption>
                  </figure>
                </div>
              </div>
            </div>

            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup row">
                  <h3>Framework</h3>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-angular-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">Angular</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-jquery.svg"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">jQuery</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-oreja-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">Boostrap</figcaption>
                  </figure>
                </div>
              </div>
            </div>

            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup row">
                  <h3>Lenguajes de Marcas y otros</h3>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-html.svg"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">HTML</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-css.svg"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">CSS</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/pl-sql.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">PL/SQL</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-mysql-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">MySQL</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-git.svg"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">Git</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-github.svg"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">GitHub</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-json-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">JSON</figcaption>
                  </figure>
                  <figure class="col-lg-auto col-md-auto">
                    <img
                      src="../../assets/Iconos-HardSkill/icons8-jsp-96.png"
                      alt="Hard Skills"
                      class="img-responsive"
                    />
                    <figcaption class="text-center">JSP</figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block-content">
      <h3 class="block-title">Soft Skills</h3>

      <div class="timeline skill">
        <div class="row">
          <div class="col-md-12">
            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup row">
                  <h3>Habilidades</h3>
                  <!-- hacer una lista de habilidades -->
                  <li>Trabajo en equipo</li>
                  <li>Responsabilidad</li>
                  <li>Comunicación</li>
                  <li>Adaptabilidad</li>
                  <li>Resolución de problemas</li>
                  <li>Trabajo bajo presión</li>
                </div>
              </div>
            </div>

            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup row">
                  <h3>Aptitudes</h3>
                  <!-- hacer una lista de aptitudes -->
                  <li>Creatividad</li>
                  <li>Capacidad de ayudar a los demas</li>
                  <li>Capacidad de organización</li>
                  <li>Carisma</li>
                  <li>Capacidad de adaptación</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Experiencia</h3>
      <div class="timeline experience">
        <div class="row">
          <div class="col-md-12">
            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup"><h3>Estudiante en prácticas</h3></div>

                <div class="time">
                  <ion-icon name="md-business"></ion-icon> Ayesa · Jornada
                  completa
                  <br />
                  <ion-icon name="md-calendar"></ion-icon> mar. 2023 - jun. 2023
                  · 4 meses
                  <br />
                  <ion-icon name="md-pin"></ion-icon> Sevilla, Andalucía, España
                  · Híbrido
                </div>
                <br />
                <p>
                  Formación en centros de trabajo, como parte del currículum de
                  FP de grado superior Desarrollo de aplicaciones web.
                </p>

                <p>
                  Forme parte del equipo de desarrollo en un proyecto que estaba
                  en desarrollo en el cual participe con tareas que me iban
                  mandando mi supervisor en la que se necesitaba modificar
                  código o crear nuevas funciones, el proyecto trataba de
                  replicar la página de la Junta de Andalucía pero en este caso
                  para La Rioja. En este proyecto trabaje sobre todo con Java,
                  JavaScript y PL/SQL
                </p>
                <p>
                  • Entorno de desarrollo: Eclipse.<br />
                  • Control de versiones mediante CVS.<br />
                  • Base de datos: SQL Developer | Oracle <br />
                  <br />
                  Aptitudes: JSON · JavaServer Pages (JSP) · PL/SQL · Java ·
                  JavaScript
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Educación</h3>
      <div class="timeline education">
        <div class="row">
          <div class="col-md-12">
            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup">
                  <h3>IES Hermanos Machado</h3>
                  <div class="time">
                    <ion-icon name="md-business"></ion-icon> Ciclo Superior
                    Desarrollo de Aplicaciones Web
                    <br />
                    <ion-icon name="md-calendar"></ion-icon> oct. 2020 - jun.
                    2023
                    <br />
                    <ion-icon name="md-pin"></ion-icon> Dos hermanas, Sevilla,
                    Andalucía, España · Presencial
                  </div>
                  <br />
                  <p>
                    Puedo desarrollar aplicaciones web con acceso a bases de
                    datos utilizando lenguajes, objetos de acceso y herramientas
                    de mapeo adecuados a las especificaciones. También integrar
                    contenidos en la lógica de una aplicación web, desarrollando
                    componentes de acceso a datos adecuados a las
                    especificaciones y desarrollar interfaces en aplicaciones
                    web de acuerdo con un manual de estilo y estándares
                    establecidos.
                  </p>
                </div>
              </div>
            </div>
            <div class="exp-holder">
              <div class="exp">
                <div class="hgroup">
                  <h3>IES Hermanos Machado</h3>
                  <div class="time">
                    <ion-icon name="md-business"></ion-icon> Ciclo Medio Técnico
                    en sistemas microinformáticos y redes
                    <br />
                    <ion-icon name="md-calendar"></ion-icon> oct. 2018 - jun.
                    2020
                    <br />
                    <ion-icon name="md-pin"></ion-icon> Dos hermanas, Sevilla,
                    Andalucía, España · Presencial
                  </div>
                  <br />
                  <p>
                    Puedo instalar-reparar equipos informáticos o como técnico
                    de soporte informático. También instalar y configurar
                    software básico y de aplicación, redes locales cableadas,
                    inalámbricas o mixtas y conectadas a redes públicas y di
                    algo de de programación como los leguajes son c++ y
                    javascript.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-content">
      <h3 class="block-title">Licencias y certificaciones</h3>
      <p>
        Aqui muestro algunos de mis certificados que e ido adquiriendo a lo
        largo de mi carrera profesional. <br />
        Pueden ver mas en mi perfil de
        <a href="https://www.linkedin.com/in/manuel-ibáñez">Linkedin</a>
      </p>
      <div class="card BorderWhite card--benefits-dynamic">
        <div class="card__container card__tiles bg-grey">
          <div class="card__wrap">
            <div class="card__list js-benefits-dynamic-card-list">
              <div class="card__item">
                <div class="card__inner">
                  <picture>
                    <source
                      srcset="../../assets/images/certificado.jpg"
                      media="(max-width: 1024px)"
                    />
                    <img
                      class="promo-banner__desktop-img"
                      src="../../assets/images/certificado.jpg"
                      alt="null"
                    />
                  </picture>
                </div>

                <div class="card__content js-all-in-bennefits-item">
                  <h3>
                    <span class="card__title">Certificado de </span>
                    <br />

                    <span class="card__type">Angular Junior </span>
                  </h3>

                  <p>
                    Certificado en el que e visto una introducción a Angular y e
                    aprendido a crear componentes, servicios, rutas, etc. Aqui
                    puedes mirar la crendencial en
                    <a href="https://openwebinars.net/cert/o1hJ">Credencial</a>
                  </p>
                </div>
              </div>
              <div class="card__item">
                <div class="card__inner">
                  <picture>
                    <source
                      srcset="../../assets/images/certificado.jpg"
                      media="(max-width: 1024px)"
                    />
                    <img
                      class="promo-banner__desktop-img"
                      src="../../assets/images/certificado.jpg"
                      alt="basic-fit-gxr-virtual-classes"
                    />
                  </picture>
                </div>

                <div class="card__content js-all-in-bennefits-item">
                  <h3>
                    <span class="card__title">Certificado de</span>
                    <br />

                    <span class="card__type">Git </span>
                  </h3>

                  <p>
                    Certificado en el que e aprendido a utilizar Git y GitHub
                    para poder subir mis proyectos a la nube y poder compartir
                    con otros desarrolladores. Aqui puedes mirar la crendencial
                    en
                    <a href="https://openwebinars.net/cert/Dpin">Credencial</a>
                  </p>
                </div>
              </div>
              <div class="card__item">
                <div class="card__inner">
                  <picture>
                    <source
                      srcset="../../assets/images/certificado.jpg"
                      media="(max-width: 1024px)"
                    />
                    <img
                      class="promo-banner__desktop-img"
                      src="../../assets/images/certificado.jpg"
                      alt="basic-fit-gxr-on-demand"
                    />
                  </picture>
                </div>

                <div class="card__content js-all-in-bennefits-item">
                  <h3>
                    <span class="card__title">Certificado de</span>
                    <br />

                    <span class="card__type"> HTML5 y CSS3 </span>
                  </h3>

                  <p>
                    Certificado en el que e aprendido a utilizar HTML5 y CSS3
                    para poder crear paginas web. Aqui puedes mirar la
                    crendencial en
                    <a href="https://openwebinars.net/cert/QpmaL">Credencial</a>
                  </p>
                </div>
              </div>
              <div class="card__item">
                <div class="card__inner">
                  <picture>
                    <source
                      srcset="../../assets/images/certificado.jpg"
                      media="(max-width: 1024px)"
                    />
                    <img
                      class="promo-banner__desktop-img"
                      src="../../assets/images/certificado.jpg"
                      alt="basic-fit-gxr-on-demand"
                    />
                  </picture>
                </div>

                <div class="card__content js-all-in-bennefits-item">
                  <h3>
                    <span class="card__title">Certificado de</span>
                    <br />

                    <span class="card__type"> JavaScript avanzado </span>
                  </h3>

                  <p>
                    Certificado en el que e aprendido a utilizar JavaScript
                    avanzado para poder crear paginas web. Aqui puedes mirar la
                    crendencial en
                    <a href="https://openwebinars.net/cert/ZNqd">Credencial</a>
                  </p>
                </div>
              </div>
              <div class="card__item">
                <div class="card__inner">
                  <picture>
                    <source
                      srcset="../../assets/images/certificado.jpg"
                      media="(max-width: 1024px)"
                    />
                    <img
                      class="promo-banner__desktop-img"
                      src="../../assets/images/certificado.jpg"
                      alt="basic-fit-gxr-on-demand"
                    />
                  </picture>
                </div>

                <div class="card__content js-all-in-bennefits-item">
                  <h3>
                    <span class="card__title">Certificado de</span>
                    <br />

                    <span class="card__type"> jQuery </span>
                  </h3>

                  <p>
                    Certificado en el que e aprendido a utilizar jQuery para
                    poder crear paginas web. Aqui puedes mirar la crendencial en
                    <a href="https://openwebinars.net/cert/9D5Qe">Credencial</a>
                  </p>
                </div>
              </div>
              <div class="card__item">
                <div class="card__inner">
                  <picture>
                    <source
                      srcset="../../assets/images/certificado.jpg"
                      media="(max-width: 1024px)"
                    />
                    <img
                      class="promo-banner__desktop-img"
                      src="../../assets/images/certificado.jpg"
                      alt="basic-fit-gxr-on-demand"
                    />
                  </picture>
                </div>

                <div class="card__content js-all-in-bennefits-item">
                  <h3>
                    <span class="card__title">Certificado de</span>
                    <br />

                    <span class="card__type"> Desarrollador Angular </span>
                  </h3>

                  <p>
                    Certificado de linkedin en el que e aprendido a utilizar
                    Angular para poder crear paginas web. Aqui puedes mirar la
                    crendencial en
                    <a
                      href="https://www.linkedin.com/learning/certificates/542aada78b2068b3dca414450811a0061d4c1d049e709f6c4e48d3dc9649be22"
                      >Credencial</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12 btn-email">
        <a class="btn lowercase">davisanderson87@gmail.com</a>
      </div>
    </div>
  </section>
</ng-container>
